body {
  margin: 0;
  font-family: monospace, fantasy;
}

.container {
  min-height: 100vh;
  background-color: lightcyan;
}

.header {
  display: flex;
  padding: 10px;
}

.search-container {
  width: 100%;
  justify-content: center;
  margin: 20px;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.search-container > input {
  width: 50%;
  padding: 10px;
  border: 2px solid rgb(217, 89, 89);
}
.search-container > p {
  width: 50%;
  color: red;
}

.table-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.checkbox {
  accent-color: red;
  width: 20px;
  height: 18px;
}

table {
  width: 80%;
}

tr {
  border: 2px solid black;
}

td {
  text-align: center;
  padding: 10px;
}
.action-icon {
  width: 15px;
  padding: 3px;
  cursor: pointer;
}

.pagination {
  width: 70%;
  display: flex;
  justify-content: space-between;
  margin: 15px;
  padding: 15px;
}

.delete-btn {
  width: 12%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: antiquewhite;
  cursor: pointer;
}
.pagination-btns-container {
  width: 80%;
  display: flex;
  justify-content: space-around;
}

.arrow-btns {
  width: 30px;
  cursor: pointer;
}
.page-btn {
  padding: 10px;

  cursor: pointer;
}

.active-page {
  background-color: red;
  color: white;
  cursor: none;
}
.modal-container {
  position: absolute;
  top: 0;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-content {
  min-width: 31%;
  min-height: 28%;
  opacity: 0.9;
  align-items: center;
  display: flex;
  justify-content: center;
  position: absolute;
  background: cornflowerblue;
  top: 14%;
}

.modal-content > img {
  position: absolute;
  width: 34px;
  top: -17px;
  right: -18px;
}

.update-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-field-container {
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.input-field-container > label {
  margin-right: 10px;
}

.input-field-container > input,
select {
  width: 74%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  padding: 10px 20px;
  border-radius: 4px;
}

.submit-btn {
  background-color: #adff2f;
  padding: 8px;
  border: 0;
  border-radius: 8px;
}

@media screen and (max-width: 600px) {
  body {
    font-size: 12px;
  }

  table {
    width: 100%;
  }

  .checkbox {
    width: 12px;
  }
  td {
    padding: 4px;
  }
  .pagination {
    width: 90%;
  }
  .delete-btn {
    width: 15%;
  }
  .arrow-btns {
    width: 13px;
  }
  .page-btn {
    padding: 5px;
  }
  .action-icon {
    width: 12px;
  }
}
